#root {
    position: fixed;
    inset: 0;
    
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    /* scroll-snap-type: y mandatory; */
}

.scroll-snap {
    scroll-snap-align: start;
    min-height: 100dvh;
}