:root {
    --background_color_lighter: rgb(255, 255, 255);
    --background_color: rgb(227, 227, 227);
    
    --text_color_lighter: rgb(40, 41, 42);
    --text_color: rgb(31, 31, 31);

    --base_color_lighter: rgb(25, 184, 147);
    --base_color: rgb(0, 74, 119);
}
