.main_header {
    background-color: #eeeeee;
    /* position: sticky; */
    width: 100vw;
    padding: .5rem;
    z-index: 10;
}
.main_header .main_header_inner {
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
}

/* main logo */
.main_header .logo img{
    width: 100%;
}
/* menu toggle */
.main_header .menut {
    all: unset;
}
.main_header .menut label{
    font-size: 1.5rem;
    padding: 0 .5rem;
    cursor: pointer;
    background-color: #333333;
    color: #eeeeee;
    border-radius: .5rem;
    transition: .25s;
}


@media (max-width:769px) {
    .main_header_inner {
        margin: auto;
        max-width: 480px;
    }
}
@media (min-width:960px) {
    .main_header {
        max-width: 480px;
    }
    .main_header{
        display: none;
    }
    .side_navbar{
        left: 0;
    }
    
}