.services header{
    padding: 2rem 4rem;

}
.services {
    padding: 4rem 6vw;
}


.featureBox p {
    color: #555;
}
.featureBox h5 {
    padding: 1rem 0;
}
.featureBox {
    display: grid;
    grid-template-columns: repeat(auto-fit,minMax(18rem,1fr));
    justify-items: center;
    grid-gap: 2rem;
}
.feature_box {
    height: 20rem;
    max-width: 400px;
    border: 1.5px solid #bcc0c6;
    background-color: #f8fafd;
    padding: 2rem;
    border-radius: 1rem;
    position: relative;

    display: grid;
    align-content: space-between;
}
.feature_box::before{
    position: absolute;
    content: "";
    inset: 0;
    z-index: -10;
    
    border-radius: 1rem;
    background-color: #dfdfdf;
    transition: all .25s;
}
.feature_box:hover::before{
    transform: rotate(3deg);
    transform-origin: bottom right 1px;
}



.feature_box .icon { 
    transition: all .35s;

    position: relative;
    z-index: 1;
}
.feature_box .icon i {
    box-sizing: unset;
    width: 4rem;
    height: 4rem;
    background-color: #c2e7ff;
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 20%;

    display: grid;
    place-items: center;
    font-size: 2rem;
    transition: all 0.3s;
}


.feature_box .icon::before {
    content: "";
    position: absolute;
    background-color: #dfdfdf;
    width: 4.5rem;
    height: 4rem;
    z-index: -1;
    border-radius: 20%;

    transition: all 0.25s;
    transform: rotate(20deg) translate(0px,5px);
    transform-origin: bottom right 10px;
}

.feature_box:hover .icon::before {
    transform: rotate(0deg);
    opacity: 0;
}
.feature_box:hover .icon i{
    background-color: #f8fafd;
    border: 3px solid #c2e7ff;
}