.hero_outer {
    padding: 0rem .1rem 0 6.1rem;
    overflow: hidden;
}

.hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444444;
}
.hero > div {
    flex: 1 1 30rem;
}


/* image section  */
.hero_img_outer{
    display: grid;
    justify-content: center;
    align-items: center;
}
.hero_img_outer .hero_Img  {
    position: relative;
}
.hero_img_outer .hero_Img > img{
    max-width: 30rem;
    width: 100%;
    border-radius: 15% 5% 15% 5%;
}
/* blob svg */
.hero_img_outer .hero_Img > div{
    position: absolute;
}.hero_img_outer .icon1{
    top: -2.5rem;
    right: -2.5rem;
    animation: rotat 15s infinite alternate;
}.hero_img_outer .icon2{
    bottom: -2.5rem;
    left: -2.5rem;
    animation: rotat 15s infinite alternate-reverse;
}
@keyframes rotat {
    from {transform: rotate(0deg) translateX(0px);}
    to {transform: rotate(590deg) translateX(10px);}
  }

/* into section  */
.hero_intro{
    margin: 4rem 0;

    display: grid;
    place-content: center; 
}
.intro_inner h6,
.intro_inner h1,
.intro_inner h2,
.intro_inner p,
.intro_inner div{
    margin: .5rem 0;
}

.intro_inner {
    margin: 0 1vw;
}
.hero_intro h6 {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
    margin: 1rem 0;
}
.hero_intro h1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}
.hero_intro i {
    max-width: 80px;
    max-height: 80px;
    border-radius: 100%;
    overflow: hidden;  
}.hero_intro i img{
    max-width: 80px;
    transform: rotate(15deg) ;
}

.hero_intro h2 {
    font-weight: 500;
}

.hero_intro p {
    max-width: 50ch;
}
.hero_intro div {
    padding-top: 1rem;
}
.hero_intro div a{
    padding: 1rem 1.5rem;
    border-radius: 10px;
    background-color: royalblue;
    color: #1d1d1d;
    font-weight: 500;
    transition: background-color .25s ease-in ,color .25s ease-in ;
}
.hero_intro div a:hover{
    background-color: rgb(3, 24, 87);
    color: white;
}
.hero_intro div a i{
    font-size: 1.1rem;
    position: relative;
    top: .2rem;
    left: .5rem;
}


@media (max-width:960px) {
    .hero_outer {
        padding: 0 .1rem;
    }
    .hero {
        flex-wrap: wrap-reverse;

    }
    /* hero image  */
    .hero_img_outer{
        padding: 0 4vw;
    }

    /* into section  */
    .hero_intro{
        text-align: center;
        padding: 0 4vw;
    }
    
}