.side_navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #ffffff;
    border-right: 1px solid #22222234;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: left 0.25s;
    z-index: 11;


}
/* logo */
.side_navbar .logo {
    padding: .5rem;
}
/* links */
.side_navbar ul {
    flex: 1;
    overflow-y: auto;

    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
.side_navbar ul a{
    border-radius: 10%;
    padding: .5rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.side_navbar ul a i {
    padding: .5rem 1rem;
    border-radius: 1rem .5rem;
    text-align: center;
    color: #5353ff;
}
.side_navbar ul a:focus i {
    background-color: rgb(83, 83, 255);
    color: white;
}
.side_navbar ul a .active{
    background-color: rgb(83, 83, 255);
    color: white;
}


/* theme */
.theme {
    user-select: none;
    cursor: pointer;
    width: 100%;
    display: grid;
    place-content: center;
    padding: 1.5rem 0;
    font-size: 1.25rem;
}
.theme i {
    padding: .5rem 1rem;
    border-radius: 1rem .5rem;
    text-align: center;
    background-color: rgb(83, 83, 255);
    color: white;
}
.theme i:active {
    background-color: hsl(240, 100%, 76%);
}


/* :checkedbtn */
#menuTG {
    display: none;

}
/* .side_navbar */
#menuTG:checked ~ .side_navbar{
    left: -10;
}
#menuTG:not(:checked) ~ .side_navbar{
    left: -10rem;
}
@media (min-width:960px) {
    #menuTG:checked ~ .side_navbar{
        left: 0rem;
    }
    #menuTG:not(:checked) ~ .side_navbar{
        left: 0rem;
    }
    
}